## Weapons
nomedkit
weapon_crowbar
weapon_9mmAR
weapon_glock
ammo_9mm 7

//Hotline Miami styled respawn time
mp_respawndelay 0


//Move:Can't turn direction when you in air.Can't climb wall.Walking slow
mp_disable_autoclimb 1
sv_airaccelerate 1


## Fire modes
weaponmode_shotgun 1
globalmodellist ../../maps/hotline.gmr